.form-login {
  flex: 1.2;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-login h2 {
  font-size: 2.2rem;
  color: #1a237e;
  margin-bottom: 40px;
}

