.fieldset-form {
  width: 100%;
  margin-bottom: 20px;
  border: transparent;
}

.fieldset-form label {
  display: block;
  margin-bottom: 8px;
  color: #666;
  font-size: 0.9rem;
}

.fieldset-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
}

.fieldset-form input:focus {
  border-color: #1a237e
}